@model ASPProject.Models.Animal[]
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @if (Model != null)
    {
        @await Html.PartialAsync("_TableView");
    }
    else
    {
        <h1>Sorry there isnt any animals</h1>
    }
</body>
</html>
