table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
    font-family: Arial;
}

img {
    max-width: 100%;
    max-height: 100%
}

.Headers {
    color: red;
}

